<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC
		   "-//mybatis.org//DTD Mapper 3.0//EN" 
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="comment_mapper">

	<insert id="saveComment" parameterType="CommentDTO">
		<selectKey keyProperty="commentId" resultType="long"
			order="BEFORE">
			SELECT SEQ_COMMENTS.NEXTVAL FROM DUAL
		</selectKey>

		INSERT INTO COMMENTS
		VALUES (
		#{commentId},
		#{reviewId},
		#{userId},
		#{content},
		CURRENT_TIMESTAMP,
		CURRENT_TIMESTAMP
		)
	</insert>

	<select id="findCommentList" resultType="CommentDTO" parameterType="long">
		select *
		from COMMENTS
		WHERE review_id = #{reviewId}
		order by comment_id
	</select>

	<select id="findCommentByCommentId" resultType="CommentDTO"
		parameterType="long">
		select *
		from comments
		where comment_id = #{commentId}
	</select>


	<delete id="removeComment" parameterType="long">
		delete from comments
		where comment_id = #{commentId}
	</delete>

	<update id="modifyComment" parameterType="CommentDTO">
		UPDATE COMMENTS
		SET
		review_id = #{reviewId},
		content = #{content},
		updated_at = CURRENT_TIMESTAMP
		WHERE COMMENT_ID = #{commentId}
	</update>
	
	<select id="findCommentListForDetail" resultType="CommentDTO" parameterType="long">
		SELECT                                                                                             
            c.COMMENT_ID,                                                                                  
            c.REVIEW_ID,                                                                                   
            c.USER_ID,                                                                                     
            c.CONTENT,                                                                                     
            TO_CHAR(c.CREATED_AT, 'YYYY-MM-DD HH24:MI') AS CREATED_AT,                                     
            c.UPDATED_AT,                                                                                  
            m.NICKNAME,                                                                                    
            m.PROFILE_IMG,                                                                                 
            m.USER_LEVEL,                                                                                  
            m.STREAK_COUNT                                                                                 
        FROM COMMENTS c                                                                                    
        LEFT JOIN USERS m ON c.USER_ID = m.USER_ID                                                       
        WHERE c.REVIEW_ID = #{reviewId}                                                                    
        ORDER BY c.CREATED_AT ASC 
	</select>
</mapper>