<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC
		   "-//mybatis.org//DTD Mapper 3.0//EN" 
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="review_mapper">

	<insert id="saveDailyReview" parameterType="DailyReviewFormDTO">
		<!-- order="BEFORE"로 시퀀스 값을 먼저 채번하여 DTO의 reviewId에 세팅 -->
	    <selectKey keyProperty="reviewId" resultType="long" order="BEFORE">
	        SELECT SEQ_DAILY_REVIEW.NEXTVAL FROM DUAL
	    </selectKey>
	    
	    INSERT INTO DAILY_REVIEWS (
	    	REVIEW_ID,
	    	USER_ID,
	    	REVIEW_DATE,
	    	TOTAL_RATING,
	    	MOOD_TAGS,
	    	OVERALL_COMMENT,
	    	MAIN_IMAGE_URL
	    )
	    VALUES (
	    	#{reviewId},
	    	#{userId},
	    	CURRENT_TIMESTAMP,
	    	#{totalRating},
	    	#{moodTags},
	    	#{overallComment},
	    	#{mainImageUrl}
	    )
	</insert>
	
	<insert id="saveSubReview" parameterType="SubReviewDTO">
		INSERT INTO SUB_REVIEWS(
			SUB_REVIEW_ID,
			REVIEW_ID,
			CATEGORY,
			ITEM_NAME,
			SUB_RATING,
			SUB_COMMENT,
			LOCATION_BRAND,
			IS_CERTIFIED,
			TAGS
		)
		VALUES (
			SEQ_SUB_REVIEW.NEXTVAL,
			#{reviewId},
			#{category},
			#{itemName},
			#{subRating},
			#{subComment},
			#{locationBrand},
			#{isCertified},
			#{tags}
		)
	</insert>
	
	<insert id="saveDailyReviewImage" parameterType="DailyReviewImage">
		INSERT INTO DAILY_REVIEW_IMAGE
		VALUES (
			#{reviewId},
			#{fileName}
		)
	</insert>
	
	<select id="findDailyReviewImageByReviewId" resultType="DailyReviewImage" parameterType="String">
		SELECT *
		FROM DAILY_REVIEW_IMAGE
		WHERE REVIEW_ID = #{reviewId}	
	</select>
	
</mapper>