<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member_mapper">


	<!-- 로그인 -->
	<select id="findMemberByEmailAndPassword"
		parameterType="MemberDTO" resultType="MemberDTO">

		SELECT
		USER_ID,
		EMAIL,
		PASSWORD,
		NICKNAME,
		PROFILE_IMG,
		PROVIDER,
		CHEER_COUNT,
		USER_LEVEL,
		INTERESTS,
		IS_PUBLIC,
		STREAK_COUNT
		FROM USERS
		WHERE EMAIL = #{email}
		AND PASSWORD = #{password}

	</select>


	<!-- 프로필 이미지 변경 -->
	<update id="updateProfileImg" parameterType="MemberDTO">

		UPDATE USERS

		SET PROFILE_IMG = #{profileImg}

		WHERE USER_ID = #{userId}

	</update>

	<!-- MY 페이지 통계 조회 -->
	<select id="findMyPageStats" parameterType="String"
		resultType="MyPageStatsDTO">

		SELECT
        (
            SELECT COUNT(*)
            FROM DAILY_REVIEWS
            WHERE USER_ID = #{userId}
        ) AS DAILY_REVIEW_COUNT,

        (
            SELECT NVL(ROUND(AVG(TOTAL_RATING), 1), 0)
            FROM DAILY_REVIEWS
            WHERE USER_ID = #{userId}
        ) AS AVERAGE_RATING,

        (
            SELECT COUNT(*)
            FROM SUB_REVIEWS SR
            JOIN DAILY_REVIEWS DR
              ON SR.REVIEW_ID = DR.REVIEW_ID
            WHERE DR.USER_ID = #{userId}
        ) AS SUB_REVIEW_COUNT,

        (
            SELECT
                NVL(
                    ROUND(
                        SUM(
                            CASE
                                WHEN SR.IS_CERTIFIED = 'Y'
                                THEN 1
                                ELSE 0
                            END
                        )
                        / NULLIF(COUNT(*), 0)
                        * 100
                    , 1)
                , 0)
            FROM SUB_REVIEWS SR
            JOIN DAILY_REVIEWS DR
              ON SR.REVIEW_ID = DR.REVIEW_ID
            WHERE DR.USER_ID = #{userId}
        ) AS CERTIFICATION_RATE,


        (
            SELECT COUNT(*)
            FROM SUB_REVIEWS SR
            JOIN DAILY_REVIEWS DR
              ON SR.REVIEW_ID = DR.REVIEW_ID
            WHERE DR.USER_ID = #{userId}
              AND SR.CATEGORY = '장소'
        ) AS PLACE_COUNT,

        (
            SELECT COUNT(*)
            FROM SUB_REVIEWS SR
            JOIN DAILY_REVIEWS DR
              ON SR.REVIEW_ID = DR.REVIEW_ID
            WHERE DR.USER_ID = #{userId}
              AND SR.CATEGORY = '아이템'
        ) AS ITEM_COUNT,

        (
            SELECT COUNT(*)
            FROM SUB_REVIEWS SR
            JOIN DAILY_REVIEWS DR
              ON SR.REVIEW_ID = DR.REVIEW_ID
            WHERE DR.USER_ID = #{userId}
              AND SR.CATEGORY = '이동수단'
        ) AS TRANSPORT_COUNT,

        (
            SELECT COUNT(*)
            FROM SUB_REVIEWS SR
            JOIN DAILY_REVIEWS DR
              ON SR.REVIEW_ID = DR.REVIEW_ID
            WHERE DR.USER_ID = #{userId}
              AND SR.CATEGORY = '콘텐츠'
        ) AS CONTENT_COUNT

    FROM DUAL

</select>

</mapper>