<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="week_rate_mapper">
	<select id="weekRate" parameterType="string"
		resultType="WeekRateDTO">
		SELECT
		TO_CHAR(REVIEW_DATE, 'YYYY-MM-DD') AS reviewDate,
		AVG(TOTAL_RATING) AS totalRating
		FROM DAILY_REVIEWS
		WHERE USER_ID = #{userId}
		AND REVIEW_DATE >= TRUNC(SYSDATE) - 6
		GROUP BY TO_CHAR(REVIEW_DATE, 'YYYY-MM-DD')
		ORDER BY reviewDate ASC
	</select>
</mapper>